<div style="display: flex; width:100%">
   {{#if showMagic}}
  	<div class="attributes" style="margin-bottom: 10px; margin-top:0.4rem">
   	<div class="attribute" augmented-ui="b-clip-x exe">
      	<p>{{localize "attrib.mag" }}</p>
         <span>{{data.data.attributes.mag.pool}}</span>
         <input type="hidden" data-dtype="Number" name="data.data.attributes.mag.pool" value="8" />
         <div class="field {{id}}Changed">
            <label>{{localize 'shadowrun6.numerical.base'}}</label>
            <input type="number" data-dtype="Number" name="data.attributes.mag.base" value="{{data.data.attributes.mag.base}}" placeholder="base" title="{{localize 'shadowrun6.numerical.baseString'}}" min="1" max="6" />
         </div>
         <div class="field {{id}}Changed">
            <label>{{localize 'shadowrun6.numerical.mod'}}</label>
            <input type="number" data-dtype="Number" name="data.attributes.mag.mod" value="{{data.data.attributes.mag.mod}}" placeholder="±adj" title="{{attribute.modString}}" />
         </div>
		</div>
   </div>
   {{/if}}
		<div class="section" style="width:inherit">
		<table>
			<tr>
				<td><b>{{localize "shadowrun6.tradition.attribute"}}</b></td>
				<td colspan="3">
					<select name="data.tradition.attribute">
					{{selectOptions config.tradition_attributes localize="true" selected=data.data.tradition.attribute}}        
      			</select>
				</td>
			</tr>
			<tr>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.attribute' }}</th>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.base' }}</th>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.modifier' }}</th>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.value' }}</th>
				<th style="padding: 0 5px 0 5px;"> </th>
			</tr>
			<tr>
				<td ><b>{{ localize 'shadowrun6.attack_rating.astral' }}</b></td>
				<td class="centered">{{data.data.attackrating.astral.base}}</td>
				<td><input class="centered" name="data.attackrating.astral.mod" type="text" value="{{data.data.attackrating.astral.mod}}" data-dtype="Number"
				style="width: 2em"></td>
				<td class="centered" title="{{data.data.attackrating.astral.modString}}">{{data.data.attackrating.astral.pool}}</td>
			</tr>
			<tr>
				<td ><b>{{ localize 'shadowrun6.defense_rating.astral' }}</b></td>
				<td class="centered">{{data.data.defenserating.astral.base}}</td>
				<td><input class="centered" name="data.defenserating.astral.mod" type="text" value="{{data.data.defenserating.astral.mod}}" data-dtype="Number"
				style="width: 2em"></td>
				<td class="centered" title="{{data.data.defenserating.astral.modString}}">{{data.data.defenserating.astral.pool}}</td>
			</tr>
			<tr>
				<td ><b>{{ localize 'shadowrun6.defense.drain' }}</b></td>
				<td class="centered">{{data.data.defensepool.drain.base}}</td>
				<td><input class="centered" name="data.defensepool.drain.mod" type="text" value="{{data.data.defensepool.drain.mod}}" data-dtype="Number"
				style="width: 2em"></td>
				<td class="centered" title="{{data.data.defensepool.drain.modString}}">{{data.data.defensepool.drain.pool}}</td>
				<td><a class="item-control defense-roll skill-pool" data-pool="{{data.data.defensepool.drain.pool}}" data-item-id="fading"><i class="fas fa-dice-six"></i></a></td>
			</tr>
		</table>
		</div>
</div>