:root {
  --illandril-token-tooltips--tooltip-rows: 5;
  --illandril-token-tooltips--tooltip-base-size: 1em;
}

.illandril-token-tooltips--tooltip {
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0.25em;
  border: 0.125rem solid rgba(255, 255, 255, 0.9);
  font-size: var(--illandril-token-tooltips--tooltip-base-size);
  padding: 0.5em;
}
.illandril-token-tooltips--tooltip.illandril-token-tooltips--show {
  display: block;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--name {
  font-weight: bold;
  text-align: center;
  font-size: 1.15em;
  color: rgba(0, 0, 100, 0.8);
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--data {
  max-height: calc(1.86em * var(--illandril-token-tooltips--tooltip-rows));
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4em 0.5em;
  margin-top: 0.5em;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--row {
  white-space: nowrap;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--label {
  padding-right: 0.5em;
  min-width: 2.5em;
  text-align: center;
  font-weight: bold;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--label img {
  height: 1.2em;
  vertical-align: text-bottom;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--label,
.illandril-token-tooltips--tooltip .illandril-token-tooltips--value {
  display: inline-block;
  vertical-align: text-top;
  white-space: initial;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--label img,
.illandril-token-tooltips--tooltip .illandril-token-tooltips--value img {
  border: none;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--value {
  max-width: 15em;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--value > :empty {
  display: none;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--current > :first-child {
  margin-top: 0;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--current > :last-child {
  margin-bottom: 0;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--temp::after {
  content: "+";
  font-size: 0.75em;
  vertical-align: top;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--max::before {
  content: " / ";
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--units::before {
  content: " ";
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--extra {
  opacity: 0.75;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--extra::before {
  content: " (";
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--extra::after {
  content: ")";
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--hp-hearts {
  color: #900;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--hp-hearts > * + * {
  margin-left: 0.1em;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--hp-hearts-full::after {
  content: "+";
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--resource,
.illandril-token-tooltips--tooltip .illandril-token-tooltips--spellslot {
  display: grid;
  grid-template-areas: "icon";
  align-items: center;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--resource > *,
.illandril-token-tooltips--tooltip .illandril-token-tooltips--spellslot > * {
  grid-area: icon;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--resource-number,
.illandril-token-tooltips--tooltip .illandril-token-tooltips--spellslot-level {
  font-size: 0.7em;
  color: white;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--damage-type--icon-and-text > i {
  display: inline;
}
.illandril-token-tooltips--tooltip .illandril-token-tooltips--damage-types--rotate-left::before {
  transform: rotate(-90deg);
  display: inline-block;
  width: 1em;
  text-align: center;
}

#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle {
  display: none;
}
#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle + div {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  padding-bottom: 1em;
}
#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle + div label {
  cursor: pointer;
  margin-left: 2em;
}
#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle:not(:checked) ~ .notes, #illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle:not(:checked) ~ div .illandril-token-tooltips--menu--customOptions--helpToggle-on {
  display: none;
}
#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--helpToggle:checked ~ div .illandril-token-tooltips--menu--customOptions--helpToggle-off {
  display: none;
}
#illandril-token-tooltips--menu--customOptions .notes {
  max-width: 50em;
  margin-inline: auto;
  padding-bottom: 1em;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--data {
  display: grid;
  grid-template-columns: 115px 145px auto max-content max-content max-content;
  align-items: center;
  grid-gap: 8px 6px;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--header {
  font-weight: bold;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--actions {
  text-align: center;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--actions.first .illandril-token-tooltips--menu--customOptions--moveUp, #illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--actions.last .illandril-token-tooltips--menu--customOptions--moveDown {
  opacity: 0.5;
  pointer-events: none;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--actions a + a {
  margin-left: 4px;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--iconCell {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--iconPreview {
  min-width: 20px;
  text-align: center;
  margin-right: 4px;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--disabledInput {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 4px;
  white-space: nowrap;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--disabledInput[data-help] {
  position: relative;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--disabledInput[data-help]::after {
  content: "\f059";
  font-family: var(--font-awesome);
  position: absolute;
  right: 0;
  opacity: 0.65;
  font-size: 85%;
  line-height: 150%;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--disabledInput[data-help]:hover::after {
  opacity: 1;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--disabledInput[data-help]:hover::before {
  content: attr(data-help);
  position: absolute;
  top: 0;
  left: calc(100% + 4px);
  background: #fff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  width: max-content;
  max-width: 430px;
}
#illandril-token-tooltips--menu--customOptions #illandril-token-tooltips--menu--customOptions--addRow,
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--standardOptionsTitle,
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--customOptionsTitle {
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--standardOptionsTitle,
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--customOptionsTitle {
  font-weight: bold;
  opacity: 0.8;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--customOptionsTitle {
  padding-top: 12px;
}
#illandril-token-tooltips--menu--customOptions .form-footer {
  margin-top: 8px;
  display: flex;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--toggleDebug .illandril-token-tooltips--menu--customOptions--toggleDebug-onLabel, #illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--toggleDebug.illandril-token-tooltips--menu--customOptions--toggleDebug-on .illandril-token-tooltips--menu--customOptions--toggleDebug-offLabel {
  display: none;
}
#illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--toggleDebug .illandril-token-tooltips--menu--customOptions--toggleDebug-offLabel, #illandril-token-tooltips--menu--customOptions .illandril-token-tooltips--menu--customOptions--toggleDebug.illandril-token-tooltips--menu--customOptions--toggleDebug-on .illandril-token-tooltips--menu--customOptions--toggleDebug-onLabel {
  display: inline;
}

.illandril-token-tooltips--debugDisplay--display {
  position: absolute;
  bottom: 10px;
  right: 325px;
  max-height: 500px;
  max-width: 400px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  overflow: auto;
  padding: 8px;
  z-index: var(--z-index-tooltip);
}
.illandril-token-tooltips--debugDisplay--display .illandril-token-tooltips--row {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0 4px;
  line-height: 1.5em;
}
.illandril-token-tooltips--debugDisplay--display .illandril-token-tooltips--row .illandril-token-tooltips--label {
  user-select: text;
}

.dnd5e.sheet.actor .items-list .illandril-token-tooltips--actorSettings--tooltipToggleCell {
  flex: 0 0 2em;
}
.dnd5e.sheet.actor .items-list .illandril-token-tooltips--actorSettings--tooltipToggle {
  color: #000;
  opacity: 0.3;
}
.dnd5e.sheet.actor .items-list .illandril-token-tooltips--actorSettings--tooltipToggle[aria-checked=true] {
  opacity: 0.8;
}