 <label class="parameter-label">
  {{> 'systems/anarchy/templates/common/label.hbs' this}}
</label>
<label class="parameter-value info-value">
  {{#if (eq category 'pool')}}
  {{numberFormat (either value 0) decimals=0 sign=false}}
  {{/if}}
</label>
{{#if flags.optional}}
<input class="parameter-selection check-optional"
    type="checkbox" {{checked used}} />
{{/if}}