<label class="parameter-label">
  <span>
    {{> 'systems/anarchy/templates/common/label.hbs' this}}
  </span>
  {{#if sources}}
    <span class="{{#if sources}} tooltip tooltip-dotted{{/if}}">
    (...)
    <div class="tooltiptext tooltip-roll-parameters">
      {{#each sources as |source|}}
        <div class="parameter">
          {{source.item.name}}: {{source.modifier.value}} {{#if source.modifier.condition}}({{source.modifier.condition}}){{/if}}
        </div>
      {{/each}}
    </div>
    </span>
  {{/if}}
</label>
