<span class="flexrow parameter-label">
  <label class="parameter-label">
      {{> 'systems/anarchy/templates/common/label.hbs' this}}
  </label>
  {{#if flags.optional}}
    <input class="parameter-selection check-optional" type="checkbox" {{checked used}} />
  {{/if}}
</span>