<label class="parameter-label info-label">
  {{> 'systems/anarchy/templates/common/label.hbs' this}}
</label>
<label class="parameter-value info-label">
  {{numberFormat value decimals=0 sign=false}}
</label>
{{#if flags.editable}}
<span class="parameter-selection info-value">
  <select name="select-{{code}}" class="select-option-parameter info-value" data-dtype="String">
    {{#select selected}}
    {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=choices noEmpty=true}}
    {{/select}}
  </select>
</span>
{{/if}}
