<div class="custom-system-form-field">
    <label for="panelFlow">Panel layout</label>
    <select id="panelFlow" data-key="flow">
        {{#select flow}}
        <option value="vertical">Vertical</option>
        <option value="horizontal">Horizontal</option>
        <option value="grid-2">Grid of 2 columns</option>
        <option value="grid-3">Grid of 3 columns</option>
        <option value="grid-4">Grid of 4 columns</option>
        <option value="grid-5">Grid of 5 columns</option>
        <option value="grid-6">Grid of 6 columns</option>
        <option value="grid-7">Grid of 7 columns</option>
        <option value="grid-8">Grid of 8 columns</option>
        <option value="grid-9">Grid of 9 columns</option>
        <option value="grid-10">Grid of 10 columns</option>
        <option value="grid-11">Grid of 11 columns</option>
        <option value="grid-12">Grid of 12 columns</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="panelAlign">Panel alignment</label>
    <select id="panelAlign" data-key="align">
        {{#select align}}
        <option value="center">Center</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="justify">Justify</option>
        {{/select}}
    </select>
</div>
