<div class="custom-system-form-field">
    <label for="tableRows">Row count</label>
    <input id="tableRows" type="text" data-key="rows" value="{{rows}}" />
</div>
<div class="custom-system-form-field">
    <label for="tableCols">Column count</label>
    <input id="tableCols" type="text" data-key="cols" value="{{cols}}" />
</div>

<div class="custom-system-form-field">
    <label for="tableLayout">
        Table layout<br />
        Please enter the layout for your table.<br />
        For each column, specify if it should be aligned left (l), right (r) or centered (c).<br />
        Example for a 4 column table : <b>cllr</b>.
    </label>
    <input id="tableLayout" type="text" data-key="layout" value="{{layout}}" />
</div>
