/* styles/font.css */
@layer cthulhu-mod {
  @font-face {
    font-family: Voltaire;
    src: url("./fonts/voltaire-regular.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: FHA Cond French NC;
    src: url("./fonts/FHACondFrenchNC.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Cristoforo;
    src: url("./fonts/Cristoforo.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Zymbols;
    src: url("./fonts/Zymbols.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Market Deco;
    src: url("./fonts/Marketdeco.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Minion Pro;
    src: url("./fonts/MinionPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Minion Pro;
    src: url("./fonts/MinionPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: Minion Pro;
    src: url("./fonts/MinionPro-It.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: Minion Pro;
    src: url("./fonts/MinionPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: SegoieUI;
    src: url("./fonts/SegoeUI.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: SegoieUI;
    src: url("./fonts/SegoeUI-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: SegoieUI;
    src: url("./fonts/SegoeUI-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: SegoieUI;
    src: url("./fonts/SegoeUI-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: SegoieUI;
    src: url("./fonts/SegoeUI-Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: Adobe Calson Pro;
    src: url("./fonts/AdobeCaslonPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Adobe Calson Pro;
    src: url("./fonts/AdobeCaslonPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: Adobe Calson Pro;
    src: url("./fonts/AdobeCaslonPro-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: Adobe Calson Pro;
    src: url("./fonts/AdobeCaslonPro-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
  }
}

/* styles/colors.css */
@layer cthulhu-mod {
  :root {
    --ctm-charcoal: 87 87 86;
    --ctm-gray: 128 128 128;
    --ctm-brown: 57 36 24;
    --ctm-white: 255 255 255;
    --ctm-red: 193 36 43;
    --ctm-dark-red: 134 23 29;
    --ctm-black: 29 29 27;
  }
}

/* styles/page.css */
@layer cthulhu-mod {
  .journal-sheet .editor-container, .journal-sheet .journal-entry-content {
    background-image: url("./assets/page-background.webp");
    background-size: cover;
  }

  :is(.journal-sheet .editor-container, .journal-sheet .journal-entry-content) .journal-header {
    margin: 0;
    padding: 1rem 1rem 1rem 4.75rem;
    position: relative;
    border-bottom: 2px solid rgba(var(--ctm-dark-red) / 1);
  }

  :is(.journal-sheet .editor-container, .journal-sheet .journal-entry-content) .journal-header:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 16px;
    background: url("./assets/bookmark.webp") no-repeat;
    background-size: 50px 100px;
    width: 50px;
    height: 100px;
    z-index: 1;
  }

  :is(.journal-sheet .editor-container, .journal-sheet .journal-entry-content) .journal-header input {
    background: none;
    border: none;
    font-family: Voltaire;
    font-size: 3rem;
    color: rgba(var(--ctm-dark-red) / 1);
    text-align: left;
    text-transform: uppercase;
    padding-top: .3rem;
    line-height: normal;
  }

  .journal-sheet prose-mirror {
    margin: 0;
  }

  .journal-sheet prose-mirror .editor-menu {
    margin: 0 1rem;
  }

  .journal-sheet prose-mirror .editor-content {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

/* styles/header.css */
@layer cthulhu-mod {
  :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h1, :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h2, :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h3 {
    border: none;
  }

  :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h1 {
    font-family: FHA Cond French NC;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-variant: small-caps;
    color: rgba(var(--ctm-dark-red) / 1);
    margin: 2.9rem 0 0 !important;
  }

  :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h2 {
    font-family: FHA Cond French NC;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transform: scale(1, .8);
    transform-origin: left;
    color: rgba(var(--ctm-black) / 1);
    margin: 2.5rem 0 0 !important;
  }

  :is(.journal-sheet .journal-page-header, .journal-sheet .journal-page-content) h3 {
    font-family: Market Deco;
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(var(--ctm-charcoal) / 1);
    letter-spacing: -.5px;
    margin: 1.8rem 0 0 !important;
  }

  .journal-sheet .journal-page-header h1, .journal-sheet .journal-page-header h2, .journal-sheet .journal-page-header h3 {
    margin-top: 1.25rem !important;
  }

  .journal-sheet:not(:has(.journal-page-header)) .journal-page-content h1:first-child, .journal-sheet:not(:has(.journal-page-header)) .journal-page-content h2:first-child, .journal-sheet:not(:has(.journal-page-header)) .journal-page-content h3:first-child {
    margin-top: 1.25rem !important;
  }

  .journal-sheet .journal-page-content blockquote:first-child + h1, .journal-sheet .journal-page-content blockquote:first-child + h2, .journal-sheet .journal-page-content blockquote:first-child + h3, .journal-sheet .journal-page-content h1:first-child, .journal-sheet .journal-page-content h2:first-child, .journal-sheet .journal-page-content h3:first-child {
    margin-top: .5rem !important;
  }

  .journal-sheet .journal-page-content h1 + h2, .journal-sheet .journal-page-content h2 + h3 {
    margin-top: .5rem !important;
  }
}

/* styles/text.css */
@layer cthulhu-mod {
  .journal-sheet .journal-page-content p {
    font-family: Minion Pro;
    font-size: 1.03125rem;
    color: rgba(var(--ctm-black) / 1);
    line-height: 1.3rem;
  }

  .journal-sheet .journal-page-content p.caption {
    font-family: Adobe Calson Pro;
    color: rgba(var(--ctm-dark-red) / 1);
  }

  .journal-sheet .journal-page-content p.cap:first-letter {
    font-family: FHA Cond French NC;
    initial-letter: 3;
    padding-right: 5px;
  }

  .journal-sheet .journal-page-content p.cap:first-line {
    font-variant: small-caps;
  }

  .journal-sheet .journal-page-content p:empty {
    min-height: 1rem;
  }

  :is(.journal-sheet .journal-page-content h1, .journal-sheet .journal-page-content h2, .journal-sheet .journal-page-content h3) + ul, :is(.journal-sheet .journal-page-content h1, .journal-sheet .journal-page-content h2, .journal-sheet .journal-page-content h3) + ol {
    margin-top: 1rem;
  }

  .journal-sheet .journal-page-content ul, .journal-sheet .journal-page-content ol {
    margin: .5rem 0;
  }

  :is(.journal-sheet .journal-page-content ul, .journal-sheet .journal-page-content ol) li {
    margin-left: .5rem;
  }

  :is(.journal-sheet .journal-page-content ul, .journal-sheet .journal-page-content ol) li::marker {
    color: rgba(var(--ctm-black) / 1);
  }

  :is(.journal-sheet .journal-page-content ul, .journal-sheet .journal-page-content ol) li p {
    margin: .375rem 0;
  }

  .journal-sheet .journal-page-content ol li::marker {
    font-family: SegoieUI;
    font-weight: 600;
  }

  .journal-sheet .journal-page-content ul li::marker {
    content: "i  ";
    font-family: Zymbols;
  }

  .journal-sheet .journal-page-content blockquote {
    border: none;
    text-align: right;
    margin: 1.5rem 2rem 0 0;
    padding: 0;
  }

  .journal-sheet .journal-page-content blockquote p {
    font-family: Adobe Calson Pro;
    font-size: 1.1rem;
    line-height: 1.35rem;
    color: rgba(var(--ctm-dark-red) / 1);
  }

  .journal-sheet .journal-page-content blockquote em {
    font-style: normal;
  }

  .journal-sheet .journal-page-content a.content-link, .journal-sheet .journal-page-content a.inline-roll, .journal-sheet .journal-page-content a.coc7-link {
    background: none;
    border: 0;
    color: rgba(var(--ctm-black) / 1);
    padding: 1px 0;
  }

  :is(.journal-sheet .journal-page-content a.content-link, .journal-sheet .journal-page-content a.inline-roll, .journal-sheet .journal-page-content a.coc7-link):hover {
    text-shadow: 0 0 5px rgba(var(--ctm-dark-red) / .5);
  }

  :is(.journal-sheet .journal-page-content a.content-link, .journal-sheet .journal-page-content a.inline-roll, .journal-sheet .journal-page-content a.coc7-link) i {
    margin-right: .25rem;
    color: rgba(var(--ctm-dark-red) / 1);
    font-size: 1rem;
  }

  .journal-sheet .journal-page-content img {
    border: none;
    box-shadow: none;
  }

  .journal-sheet .journal-page-content img:not(.centered) {
    margin-left: .15rem;
    margin-right: .15rem;
  }

  .journal-sheet .journal-page-content img.float-left, .journal-sheet .journal-page-content img.float-right {
    margin: 0;
  }

  .journal-sheet .journal-page-content img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .journal-sheet .journal-page-content img:has( + img), .journal-sheet .journal-page-content img + img {
    display: inline;
    max-width: calc(50% - .3rem);
  }
}

/* styles/block.css */
@layer cthulhu-mod {
  .journal-sheet .journal-page-content .float-left {
    float: left;
    padding-right: 1rem;
  }

  .journal-sheet .journal-page-content .float-right {
    float: right;
    padding-left: 1rem;
  }

  .journal-sheet .journal-page-content .note {
    margin: 1.5rem 0;
    padding: .75rem 1.25rem;
    color: rgba(var(--ctm-charcoal) / 1);
    background-color: rgba(var(--ctm-gray) / .15);
  }

  .journal-sheet .journal-page-content .note + .insert {
    margin-top: 1.5rem;
  }

  .journal-sheet .journal-page-content .note:first-child {
    margin-top: .5rem;
  }

  .journal-sheet .journal-page-content .insert {
    position: relative;
    background-size: cover;
    padding: 1.25rem;
    margin-top: 1rem;
  }

  .journal-sheet .journal-page-content .insert p {
    font-family: SegoieUI;
    font-size: 1rem;
  }

  .journal-sheet .journal-page-content .insert + p {
    margin-top: 1.75rem;
  }

  .journal-sheet .journal-page-content .insert + .insert {
    margin-top: 2rem;
  }

  .journal-sheet .journal-page-content .insert > p:first-child {
    font-family: Cristoforo;
    font-size: 1.2rem;
    margin-bottom: .6rem;
    letter-spacing: .5px;
    line-height: 1.7rem;
  }

  .journal-sheet .journal-page-content .insert + h2 {
    margin-top: 3.5rem !important;
  }

  .journal-sheet .journal-page-content .insert.yellow {
    background-image: url("./assets/insert-yellow-background.webp");
  }

  .journal-sheet .journal-page-content .insert.yellow + .insert.black {
    margin-top: 4rem;
  }

  .journal-sheet .journal-page-content .insert.yellow:before {
    content: " ";
    display: block;
    background-image: url("./assets/insert-yellow-background-bottom.webp");
    width: calc(100% - 4px);
    height: 33px;
    left: 2px;
    bottom: -30px;
    position: absolute;
    background-repeat: repeat;
  }

  .journal-sheet .journal-page-content .insert.yellow:after {
    content: " ";
    display: block;
    background-image: url("./assets/insert-yellow-background-bottom-corner.webp");
    width: 103px;
    height: 33px;
    right: 2px;
    bottom: -30px;
    position: absolute;
    background-repeat: repeat;
  }

  .journal-sheet .journal-page-content .insert.yellow.invert:after {
    transform: scaleY(-1);
    bottom: -11px;
  }

  .journal-sheet .journal-page-content .insert.yellow > p:first-child {
    color: rgba(var(--ctm-brown) / 1);
  }

  .journal-sheet .journal-page-content .insert.black {
    background-image: url("./assets/insert-black-background.webp");
    margin-top: 2.1rem;
    background-size: 100% 100%;
  }

  .journal-sheet .journal-page-content .insert.black h3, .journal-sheet .journal-page-content .insert.black ul li::marker, .journal-sheet .journal-page-content .insert.black ol li::marker {
    color: rgba(var(--ctm-white) / 1);
  }

  .journal-sheet .journal-page-content .insert.black a.content-link, .journal-sheet .journal-page-content .insert.black a.inline-roll, .journal-sheet .journal-page-content .insert.black a.coc7-link {
    color: rgba(var(--ctm-white) / 1);
  }

  :is(.journal-sheet .journal-page-content .insert.black a.content-link, .journal-sheet .journal-page-content .insert.black a.inline-roll, .journal-sheet .journal-page-content .insert.black a.coc7-link) i {
    color: rgba(var(--ctm-red) / 1);
  }

  :is(.journal-sheet .journal-page-content .insert.black a.content-link, .journal-sheet .journal-page-content .insert.black a.inline-roll, .journal-sheet .journal-page-content .insert.black a.coc7-link):hover {
    text-shadow: 0 0 5px rgba(var(--ctm-gray) / 1);
  }

  .journal-sheet .journal-page-content .insert.black table tr, .journal-sheet .journal-page-content .insert.black table td, .journal-sheet .journal-page-content .insert.black table th {
    border-color: rgba(var(--ctm-white) / 1) !important;
  }

  .journal-sheet .journal-page-content .insert.black table tr:nth-child(2n) {
    background-color: #ffffff1a;
  }

  .journal-sheet .journal-page-content .insert.black:before {
    content: " ";
    display: block;
    background-image: url("./assets/insert-black-background-top.webp");
    width: calc(100% - 6px);
    height: 41px;
    left: 3px;
    top: -29px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
  }

  .journal-sheet .journal-page-content .insert.black:after {
    content: " ";
    display: block;
    background-image: url("./assets/insert-black-background-bottom.webp");
    width: calc(100% - 7px);
    height: 16px;
    left: 3px;
    bottom: -15px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
  }

  .journal-sheet .journal-page-content .insert.black p {
    color: rgba(var(--ctm-white) / 1);
  }

  .journal-sheet .journal-page-content .insert.black > p:first-child {
    position: relative;
    box-sizing: content-box;
    width: min-content;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }

  .journal-sheet .journal-page-content .insert.black > p:first-child:before {
    content: " ";
    display: block;
    background-image: url("./assets/insert-black-tilde.webp");
    width: 25px;
    height: 5px;
    position: absolute;
    top: 13px;
    left: -35px;
  }

  .journal-sheet .journal-page-content .insert.black > p:first-child:after {
    content: " ";
    display: block;
    background-image: url("./assets/insert-black-tilde.webp");
    width: 25px;
    height: 5px;
    position: absolute;
    top: 13px;
    right: -35px;
  }
}

/* styles/table.css */
@layer cthulhu-mod {
  .journal-sheet .journal-page-content table {
    border: none;
    background: none;
  }

  .journal-sheet .journal-page-content table tr {
    border: none;
    background: none;
  }

  .journal-sheet .journal-page-content table tr:first-child {
    border-bottom: 1px solid #000 !important;
  }

  .journal-sheet .journal-page-content table tr:nth-child(2n) {
    background-color: rgba(var(--ctm-gray) / .15);
  }

  .journal-sheet .journal-page-content table th {
    vertical-align: middle;
  }

  .journal-sheet .journal-page-content table th, .journal-sheet .journal-page-content table td {
    padding: 0 .5rem;
    border: 0 !important;
  }

  :is(.journal-sheet .journal-page-content table th, .journal-sheet .journal-page-content table td):not(:last-child) {
    border-right: 1px solid #000 !important;
  }
}

/* styles/cthulhu-mod.css */
@layer cthulhu-mod;
@import "font.css";
@import "colors.css";
@import "page.css";
@import "header.css";
@import "text.css";
@import "block.css";
@import "table.css";
