<div class="chatsearchbox">
  <label class="startsearch" data-tooltip="FULLSEARCH.button_search">
    <i class="fas fa-magnifying-glass"></i>
  </label>
  <input class="chatsearchtextbar" name="searchtext" type="text" />
</div>