<label class="info-label">
  {{localize 'ANARCHY.actor.counters.essence'}}
  {{numberFormat essence.value decimals=2 sign=false}}
  {{localize ANARCHY.actor.essence.adjustShort}} {{numberFormat essence.adjust decimals=0 sign=false}}
</label>
