<label class="info-label">
  {{localize 'ANARCHY.actor.counters.essence'}}
  {{numberFormat system.counters.essence.value decimals=2 sign=false}}
  {{localize ANARCHY.actor.essence.adjustShort}} {{essence.adjust}}
</label>
