<div class="risk-glitch risk-glitch-{{@root.roll.glitchOutcome}}">
  <label>
    {{> 'systems/anarchy/templates/common/label.hbs' this}}:
  </label>
  {{#each @root.roll.subrolls.glitch.terms.[0].results as |dice|}}
    <span class="risk-glitch-dice {{@root.roll.glitchOutcome}}">
      {{{iconD6 dice.result}}}
    </span>
  {{/each}}
  {{#if @root.roll.subrolls.glitch.total}}
    <label>
      {{@root.roll.subrolls.glitch.total}}
    </label>
  {{/if}}
</div>

