<div class="nameforge-content">
  <form id="nameforge">
    {{> 'modules/nameforge/templates/partials/generate-options.hbs'}}
    <div class="flexrow" id="actionButtons">
      <button name="save"><i class="fas fa-save"></i>{{localize 'NAMEFORGE.BUTTON.save'}}</button>
    </div>
  </form>
</div>