/* --- CTHULHU MOD --- */
@font-face {
    font-family: "Cthulhumbus";
    src: url("./fonts/cthulhumbus.ttf");
}
@font-face {
    font-family: "Voltaire";
    src: url("./fonts/voltaire-regular.otf");
}
@font-face {
    font-family: "Caslon";
    src: url("./fonts/caslon-regular.ttf");
}

@font-face {
    font-family: "Caslon Italic";
    src: url("./fonts/caslon-italic.ttf");
}

@font-face {
    font-family: "Caslon Bold";
    src: url("./fonts/caslon-bold.ttf");
}

@font-face {
    font-family: "Segoe";
    src: url("./fonts/segoe.ttf");
}

/* Journal */
.journal-entry-page h1 {
    font-family: "Cthulhumbus";
    font-size: 38px;
    border: none;
}

.journal-entry-page h2 {
    font-family: "Voltaire";
    text-transform: uppercase;
    font-size: 26px;
    border: none;
    color: #890E10;
    letter-spacing: -0.5px;
}

.journal-entry-page h3 {
    font-family: "Voltaire";
    font-size: 22px;
    border: none;
    color: #890E10;
    text-transform: uppercase;
}

.journal-entry-page .noteadj h3 {
    font-family: "Voltaire";
    font-size: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
}

.journal-entry-page h4 {
    font-family: "Voltaire";
    font-size: 21px;
    border: none;
    color: #890E10;
}

.journal-entry-page p {
    font-family: "Caslon";
    font-size: 14px;
    line-height: 20px;
}

.journal-entry-page li {
    font-family: "Caslon";
    font-size: 14px;
    line-height: 20px;
}

.journal-entry-page .journal-entry-page table td {
    padding: 5px;
}

.journal-entry-page .logo_pharaon {
    border: none;
    content: url('./assets/artwork/logo_pharaon.webp');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.journal-entry-page .logo_creature {
    border: none;
    content: url('./assets/artwork/logo_creature.webp');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.journal-entry-page .logo_condamne {
    border: none;
    content: url('./artwork/glyphe_condamne.webp');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.journal-entry-page .logo_visage {
    border: none;
    content: url('./artwork/glyphe_visage.webp');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.journal-entry-page .logo_peril {
    border: none;
    content: url('./artwork/sombres_perils.webp');
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.journal-entry-page blockquote {
    color: #890E10;
}

.journal-entry-page .note {
    border-style: solid;
    border-color: black;
    background-color: #f4dfc3;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
}

.journal-entry-page .logo-note1 {
    content: url('./assets/artwork/cadre-cthulhu1.webp');
    margin-left: auto;
    margin-right: auto;
}

.journal-entry-page .logo-note2 {
    content: url('./assets/artwork/cadre-cthulhu2.webp');
    margin-left: auto;
    margin-right: auto;
}

.journal-entry-page .notemj {
    border-style: solid;
    border-color: black;
    background-color: #d7f5c1;
    background-size: 100% 100%;
    padding: 20px;
}

.journal-entry-page .noteadj {
    border-style: solid;
    border-color: #747171;
    background-color: #2c3138;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
}

.journal-entry-page .noteadj p {
    font-family: "Segoe";
    font-size: 14.5px;
    line-height: 20px;
    color:white;
}

.journal-entry-page .noteadj td {
    font-family: "Segoe";
    font-size: 14.5px;
	line-height: 20px;
    text-align: justify;
    color:white;
    padding: 5px;
}

.journal-entry-page .noteadj li {
    font-family: "Segoe";
    font-size: 14.5px;
	line-height: 20px;
    text-align: justify;
    color:white;
}

.journal-entry-page .noteadj table {
    color:white;
}

.journal-entry-page .noteadj .coc7-link,
.journal-entry-page .noteadj .content-link,
.journal-entry-page .noteadj .inline-roll {
    color: #191813;
}

.journal-entry-page th .coc7-link,
.journal-entry-page th .content-link,
.journal-entry-page th .inline-roll {
    color: #191813;
}


.journal-entry-page .credits {
    font-family: "Headline HPLHS";
    font-size: 24px;
    font-style: bold;
    text-align: center;
}

.journal-entry-page .credits-titre {
    font-family: "Headline HPLHS";
    font-size: 24px;
    font-style: bold;
    border: none;
    color: black;
}

.journal-entry-page .credits-texte {
    font-family: "Headline HPLHS";
    font-size: 24px;
    border: none;
    color: #7a7971;
}

.journal-entry-page .portrait {
    float: left;
    margin-right: 4px;
    width: 25%;
}

.journal-entry-page .adj-texte {
    font-family: "Caslon";
    font-size: 14px;
    font-style: italic;
    border: none;
    letter-spacing: 0px;
    text-align: right;
    color: #890E10;
}

.journal-entry-page .exemple {
    background-color: #d2ccc8;
    text-indent:0cm;
    border-style: solid;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 8px 8px -7px var(--color-shadow-dark);
    padding : 10px 14px 16px 18px;
}

.journal-entry-page table {
    width: 95%;
    border-collapse: collapse;
    border: solid 2px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.journal-entry-page table th {
    font-family: "Headline HPLHS";
    color: white;
    background-color: #5a4c43;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.journal-entry-page table tbody {
    font-family: "EB Garamond Regular";
    font-size: 16px;
    height: 14px;
}

.journal-entry-page table td {
    border: 1px solid;
}

.journal-entry-page hr {
    border: 1px solid;
}

.journal-entry-page .image-large {
    margin-right: 35px;
}

.journal-entry-page img {
    border: 0px;
}

.journal-entry-page img {
    width: 100%;
    object-fit: contain;
}

.journal-entry-page .gamme {
    border: none;
}

.journal-entry-page .gamme table td {
    border: none;
}

.journal-entry-page .insert-droite {
    max-width: 45%;
    padding-right: 10px;
    padding-left: 5px;
    margin-right: 10px;
    break-inside: avoid;
    font-style: normal;
    float: right;
    border: none;
    text-align: center;
    color: black;
}

.journal-entry-page .insert-droite p {
    text-align: center;
    font-size: 14px;
}

.journal-entry-page .insert-gauche {
    max-width: 40%;
    padding-right: 5px;
    padding-left: 10px;
    margin-left: 10px;
    break-inside: avoid;
    font-style: normal;
    float: left;
    border: none;
    text-align: center;
}

.journal-entry-page .insert-pnj-droite {
    max-width: 49%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0px;
    break-inside: avoid;
    font-style: normal;
    float: right;
    border: none;
    text-align: center;
}

.journal-entry-page .insert-pnj-gauche {
    max-width: 49%;
    padding-right: 1px;
    padding-left: 1px;
    margin-left: 0px;
    break-inside: avoid;
    font-style: normal;
    float: left;
    border: none;
    text-align: center;
}

.journal-entry-page .conseil-image {
    width: 50px;
    height: 50px;
    border: none;
    float: left;
    margin-right: 10px;
}

.journal-entry-page .conseil-foundry {
    background-color: #ff66008e;
    text-indent: 0cm;
    border-style: solid;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 8px 8px -7px var(--color-shadow-dark);
    padding : 10px 14px 16px 18px;
    font-size: larger;s
}

.journal-entry-page .two-col {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.journal-entry-page .two-col p:first-child {
    padding-right: 10px;
    align-self: start;
    text-align: justify;
}

.journal-entry-page .two-col-portrait {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.journal-entry-page .two-col-portrait p:first-child {
    padding-right: 10px;
    align-self: start;
    text-align: center;
}

.journal-entry-page .coc7-link i {
    margin-right: 0.25em;
}

.journal-entry-page mark {
    background: #c2c291;
}

.journal-entry-page mark .content-link,
.journal-entry-page mark .coc7-link,
.journal-entry-page mark .inline-roll {
    background: #ddddc2;
}

.journal-entry-page mark.important {
    background: #989855;
}

.journal-entry-page mark.important .content-link,
.journal-entry-page mark.important .coc7-link,
.journal-entry-page mark.important .inline-roll {
    background: #b0b070;
}

/* Actors */
.sheet.actor .editor-content p {
    font-family: "Caslon";
    font-size: 14px;
    line-height: 20px;
}

