/* styles/colors.css */
@layer shm.colors {
  :root {
    --shm-charcoal: 17 17 17;
    --shm-cream: 231 209 177;
    --shm-ivory: 247 243 232;
    --shm-white: 255 255 255;
    --shm-purple: 11 10 19;
    --shm-orange: 201 89 63;
    --shm-gray: 85 85 85;
    --shm-warm-gray: 159 132 117;
  }

  body.theme-dark :where(.shm) {
    --buncss-light: ;
    --buncss-dark: initial;
    color-scheme: dark;
  }

  body.theme-light :where(.shm) {
    --buncss-light: initial;
    --buncss-dark: ;
    color-scheme: light;
  }

  body .theme-dark :where(.shm) {
    --buncss-light: ;
    --buncss-dark: initial;
    color-scheme: dark;
  }

  body .theme-light :where(.shm) {
    --buncss-light: initial;
    --buncss-dark: ;
    color-scheme: light;
  }
}

/* styles/common.css */
@layer shm.common {
  .shm .media, .media.shm {
    position: relative;
  }

  :is(.shm .media, .media.shm).passthrough {
    display: contents;
  }

  :is(.shm .media, .media.shm) img, :is(.shm .media, .media.shm) video {
    margin: 0;
    padding: 0;
    border: unset;
    box-shadow: unset;
    clear: unset;
    max-width: unset;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  :is(.shm .media, .media.shm) video + .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-64);
    color: rgba(var(--shm-cream) / .8);
  }

  .shm .darkness, .shm.darkness {
    --darkness-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkness-color);
    mix-blend-mode: multiply;
  }
}

/* styles/components.css */
@layer shm.components {
  .shm.form-fields:has(input[type="checkbox"]), .shm.form-fields:has(input[type="radio"]) {
    flex: 0;
  }

  .shm#tooltip.text-center {
    text-align: center;
  }

  .shm button, button.shm, .shm .button, .button.shm {
    --shm-button-size: 2.5rem;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    margin: 0;
    outline: none;
    appearance: none;
    opacity: 1;
    cursor: var(--cursor-pointer);
    display: flex;
    justify-content: center;
    align-items:  center;
    height: var(--shm-button-size);
    min-height: var(--shm-button-size);
    gap: .25rem;
    padding: 0 2rem;
    font-family: var(--font-sans);
    font-size: var(--font-size-14);
    line-height: normal;
    color: var(--buncss-light, rgba(var(--shm-charcoal) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .6)) var(--buncss-dark, rgba(var(--shm-purple) / .5));
    border: 1px solid var(--buncss-light, rgba(var(--shm-gray) / 1)) var(--buncss-dark, rgba(var(--shm-warm-gray) / 1));
    border-radius: 4px;
    transition: all .5s;
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).small {
    --shm-button-size: 1.75rem;
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).tiny {
    --shm-button-size: 1.5rem;
    font-size: var(--font-size-12);
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).icon {
    flex: 0 0 var(--shm-button-size);
    width: var(--shm-button-size);
    padding: 0 .5rem;
    font-family: var(--font-awesome);
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).plain {
    text-shadow: 0 0 4px #000;
    height: calc(var(--shm-button-size) / 2);
    min-height: calc(var(--shm-button-size) / 2);
    background-color: #0000;
    border-color: #0000;
    color: var(--buncss-light, rgba(var(--shm-cream) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).plain:hover {
    text-shadow: unset;
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).secondary {
    color: var(--buncss-light, rgba(var(--shm-charcoal) / .8)) var(--buncss-dark, rgba(var(--shm-cream) / .8));
    border-color: var(--buncss-light, rgba(var(--shm-white) / .5)) var(--buncss-dark, rgba(var(--shm-warm-gray) / .5));
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).secondary:hover {
    color: var(--buncss-light, rgba(var(--shm-charcoal) / .8)) var(--buncss-dark, rgba(var(--shm-cream) / .8));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .9)) var(--buncss-dark, rgba(var(--shm-purple) / .8));
    border-color: var(--buncss-light, rgba(var(--shm-white) / .7)) var(--buncss-dark, rgba(var(--shm-warm-gray) / .7));
  }

  :is(.shm button, button.shm, .shm .button, .button.shm):hover, :is(.shm button, button.shm, .shm .button, .button.shm).active, :is(.shm button, button.shm, .shm .button, .button.shm)[keep-hover]:has( + :hover) {
    color: var(--buncss-light, rgba(var(--shm-ivory) / 1)) var(--buncss-dark, rgba(var(--shm-ivory) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-orange) / 1)) var(--buncss-dark, rgba(var(--shm-orange) / 1));
    border-color: var(--buncss-light, rgba(var(--shm-cream) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
  }

  :is(.shm button, button.shm, .shm .button, .button.shm).active, :is(.shm button, button.shm, .shm .button, .button.shm):active {
    outline: thin solid var(--buncss-light, rgba(var(--shm-orange) / 1)) var(--buncss-dark, rgba(var(--shm-orange) / 1));
    box-shadow: 0 0 4px var(--buncss-light, rgba(var(--shm-orange) / 1)) var(--buncss-dark, rgba(var(--shm-orange) / 1));
  }

  .shm menu, menu.shm {
    all: unset;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    flex: none;
    border: 1px solid var(--buncss-light, rgba(var(--shm-gray) / 1)) var(--buncss-dark, rgba(var(--shm-warm-gray) / 1));
    transition: opacity .5s;
  }

  :is(.shm menu, menu.shm) li {
    all: unset;
    margin: 0;
    list-style: none;
    cursor: default;
    user-select: none;
    position: relative;
    display: flex;
    align-items:  center;
    flex: none;
    gap: .5rem;
    padding: 2px .5rem;
    font-family: var(--font-sans);
    font-size: var(--font-size-14);
    white-space: nowrap;
    color: var(--buncss-light, rgba(var(--shm-charcoal) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .6)) var(--buncss-dark, rgba(var(--shm-purple) / .5));
    transition: color .25s, background-color .25s;
  }

  :is(.shm menu, menu.shm) li:not([role="button"]):after {
    content: "";
    font-family: var(--font-awesome);
    margin-left: auto;
  }

  :is(.shm menu, menu.shm) li[role="button"] {
    cursor: var(--cursor-pointer);
  }

  :is(.shm menu, menu.shm) li:hover, :is(.shm menu, menu.shm) li:has( + menu:hover) {
    background-color: var(--buncss-light, rgba(var(--shm-white) / .8)) var(--buncss-dark, rgba(var(--shm-purple) / .7));
  }

  :is(.shm menu, menu.shm) li.active {
    color: var(--buncss-light, rgba(var(--shm-ivory) / 1)) var(--buncss-dark, rgba(var(--shm-ivory) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-orange) / 1)) var(--buncss-dark, rgba(var(--shm-orange) / 1));
  }

  :is(.shm menu, menu.shm) li:hover > menu, :is(.shm menu, menu.shm) li > menu:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  :is(.shm menu, menu.shm) li > menu {
    position: absolute;
    top: -1px;
    left: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  :is(.shm menu, menu.shm).right li:not([role="button"]):before {
    content: "";
    font-family: var(--font-awesome);
    margin-right: .5rem;
  }

  :is(.shm menu, menu.shm).right li:not([role="button"]):after {
    display: none;
  }

  :is(.shm menu, menu.shm).right li > menu {
    left: auto;
    right: 100%;
  }

  .shm i.pip, i.pip.shm {
    --pip-size: .5rem;
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 var(--pip-size);
    height: var(--pip-size);
    margin: 2px;
    background: var(--pip-color);
    box-shadow: 0 0 2px rgba(var(--shm-charcoal) / 1);
    border-radius: 100%;
  }

  :is(.shm i.pip, i.pip.shm).square {
    --pip-size: .75rem;
    border-radius: 2px;
  }

  :is(.shm i.pip, i.pip.shm).padded {
    margin-right: .5rem;
  }

  .shm .badge, .badge.shm {
    --shm-badge-size: 1.5rem;
    cursor: default;
    display: inline-flex;
    flex: 1;
    height: var(--shm-badge-size);
    padding: 0 .25rem;
    align-items:  center;
    font-size: var(--font-size-12);
    line-height: normal;
    white-space: nowrap;
    color: var(--buncss-light, rgba(var(--shm-charcoal) / .8)) var(--buncss-dark, rgba(var(--shm-cream) / .8));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .6)) var(--buncss-dark, rgba(var(--shm-purple) / .5));
    border: 1px solid var(--buncss-light, rgba(var(--shm-white) / .5)) var(--buncss-dark, rgba(var(--shm-warm-gray) / .5));
    border-radius: 3px;
  }

  :is(.shm .badge, .badge.shm).padded {
    padding: 0 .5rem;
  }
}

/* styles/overlay.css */
@layer shm.layouts {
  #shm-overlay {
    all: unset !important;
    z-index: 9999 !important;
    position: absolute !important;
    display: none !important;
    opacity: 0 !important;
    transition: opacity .5s !important;
  }

  #shm-overlay.active {
    display: block !important;
  }

  #shm-overlay.active.show {
    opacity: 1 !important;
  }

  #shm-overlay > section {
    all: unset !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    gap: .5rem !important;
  }

  #shm-overlay .drawer {
    all: unset !important;
    position: relative !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items:  center !important;
  }

  #shm-overlay .drawer:hover > aside {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
  }

  #shm-overlay .drawer > aside {
    all: unset !important;
    position: absolute !important;
    top: 0 !important;
    left: calc(100% + .5rem) !important;
    visibility: hidden !important;
    pointer-events: none !important;
    opacity: 0 !important;
    transition: opacity .5s !important;
  }

  #shm-overlay .drawer > aside:before {
    all: unset !important;
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: -.5rem !important;
    width: .5rem !important;
    height: 100% !important;
  }

  #shm-overlay .right.drawer > aside {
    left: auto !important;
    right: calc(100% + .5rem) !important;
  }

  #shm-overlay .right.drawer > aside:before {
    left: auto !important;
    right: -.5rem !important;
  }
}

/* styles/popout.css */
@layer shm.layouts {
  [id^="shm-popout-"] figure {
    justify-content: center;
  }

  [id^="shm-popout-"] figure .media-frame {
    position: relative;
  }

  [id^="shm-popout-"] figure .media-frame:has(video) .darkness {
    transform: scale(1.001);
  }

  [id^="shm-popout-"] figcaption {
    color: var(--buncss-light, rgba(var(--shm-cream) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
  }
}

/* styles/fullscreen.css */
@layer shm.layouts {
  #shm-fullscreen {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    inset-inline: unset;
    color: unset;
    display: flex;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px) brightness(.7);
    background: rgba(var(--shm-charcoal) / .6);
    box-shadow: inset 0 0 8vw 6vw #000;
  }

  #shm-fullscreen figure {
    margin: 0;
    width: unset;
    flex: 1;
    justify-content: center;
  }

  #shm-fullscreen figure .media-frame {
    position: relative;
    max-height: 100%;
  }

  #shm-fullscreen figcaption {
    margin: 0;
    text-align: unset;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    font-family: var(--font-sans);
    font-size: var(--font-size-16);
    font-style: italic;
    color: var(--buncss-light, rgba(var(--shm-charcoal) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .6)) var(--buncss-dark, rgba(var(--shm-purple) / .5));
    border-radius: 4px;
  }

  #shm-fullscreen .actions {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
    gap: .5rem;
  }

  #shm-fullscreen.folded {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    backdrop-filter: unset;
    background: none;
    box-shadow: none;
  }

  #shm-fullscreen.folded img, #shm-fullscreen.folded video, #shm-fullscreen.folded figcaption {
    display: none;
  }
}

/* styles/sidebar.css */
@layer shm.layouts {
  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-container {
    position: relative;
    overflow: hidden;
    min-height: 75px;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-log.scrolled {
    mask-image: linear-gradient(#000 95%, #0000);
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-item {
    cursor: pointer;
    position: relative;
    min-height: 150px;
    margin: .25rem;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-item.deleting {
    min-height: 0;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-item.deleting .media-metadata, :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-item.deleting .video-icon {
    display: none;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) img, :is(#shm-media-sidebar, #shm-media-sidebar-popout) video {
    pointer-events: none;
    object-fit: cover;
    border-radius: 3px;
    transition: filter .25s;
  }

  .media-item:hover :is(:is(#shm-media-sidebar, #shm-media-sidebar-popout) img, :is(#shm-media-sidebar, #shm-media-sidebar-popout) video) {
    filter: brightness(1.1);
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .media-metadata {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    gap: .25rem;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .gm-actions {
    z-index: 1;
    transition: opacity .25s;
    flex-wrap: nowrap;
    opacity: 0;
    gap: .25rem;
  }

  .media-item:hover :is(:is(#shm-media-sidebar, #shm-media-sidebar-popout) .gm-actions) {
    opacity: 1;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .loading {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: nowrap;
    gap: .25rem;
    padding: .5rem;
    color: var(--buncss-light, rgba(var(--shm-charcoal) / 1)) var(--buncss-dark, rgba(var(--shm-cream) / 1));
    background-color: var(--buncss-light, rgba(var(--shm-white) / .6)) var(--buncss-dark, rgba(var(--shm-purple) / .5));
    white-space: nowrap;
    border-radius: 4px;
  }

  :is(#shm-media-sidebar, #shm-media-sidebar-popout) .jump-to-bottom {
    position: absolute;
    left: .25rem;
    bottom: .25rem;
  }
}

/* styles/share.css */
@layer shm.layouts {
  [id^="shm-share-selector"] .window-content {
    gap: 1rem;
  }

  [id^="shm-share-selector"] img, [id^="shm-share-selector"] video {
    max-height: 200px;
  }

  [id^="shm-share-selector"] fieldset {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  [id^="shm-share-selector"] fieldset .hint {
    flex-basis: 100%;
  }
}

/* styles/module.css */
@layer shm.colors, shm.common, shm.components, shm.layouts;
@import "colors.css";
@import "common.css";
@import "components.css";
@import "overlay.css";
@import "popout.css";
@import "fullscreen.css";
@import "sidebar.css";
@import "share.css";
