<div>
  <!-- Fertigkeitswert: data.value; Schwierigkeit: data.threshold; Modifikation: data.modifier; Würfelergebnis: data.dieResult; Gesamt: data.total-->
  
  <h3>{{data.actionText}}</h3> 
  {{#if data.isOpposed}}
  <div class="chat-edge" style="display:block">
    <div>{{data.edge_message}}</div>
    {{#if data.edge_use}}
    <div style="color: var(--highlight-color)">{{data.edge_use}}</div>
    {{/if}}
  <div class="chat-edge-collapsible" style="display:none">
    <header class="part-header flexrow">
      <div>{{ localize 'shadowrun6.label.attack_rating'}}: <b>{{data.attackRating}}</b></div>
      <br/>
      <div>{{ localize 'shadowrun6.label.defense_rating'}}: <b>{{data.defRating}}</b></div>
    </header>
  </div>
  </div>
  <hr/>
   {{/if}}        
  
  <div>
    <div class="dice-result">
      <header class="part-header flexrow chat-edge-post">
        <div>{{formula}}</div>
        <br/>
        {{#if data.extended}}
            <div class="resulttext" style="flex:2;text-align: right;">{{ localize 'shadowrun6.roll.accumulated' }}: <b>{{data.extendedAccumulate}}</b> / {{data.threshold}}</div>
        {{else}}
            {{#if success}}
            <div class="resulttext" style="flex:2">{{ localize 'shadowrun6.roll.success'}}: <b>{{total}}</b> {{localize 'shadowrun6.roll.successes'}}</div>
            {{else}}
            <div class="resulttext" style="flex:2">{{ localize 'shadowrun6.roll.failure'}}: </b>{{total}}</b> {{localize 'shadowrun6.roll.nosuccess'}} {{data.threshold}}</div>
            {{/if}} 
        {{/if}}
        <br/>
        {{#if criticalGlitch}}
        <span style="color: rgb(215, 14, 233); flex:2">{{localize 'shadowrun6.roll.criticalglitch'}}</span><br/>
        {{else glitch}}
        <span style="color: rgb(194, 76, 29); flex:2">{{localize 'shadowrun6.roll.glitch'}}</span><br/>
        {{/if}}
      </header>
        {{{tooltip}}}
    </div>
   </div>
   
   <!-- Usage Details -->
  	{{#if data.weapon}}
   <hr/>
   <div>
     <b>{{localize 'shadowrun6.roll.damage'}}</b> {{data.damage}}{{data.damageType}}
   </div>
   {{/if}}        
  	{{#if data.matrixAction}}
   <hr/>
   <div>
     <b>{{localize 'shadowrun6.roll.damage'}}</b> To Do
   </div>
   {{/if}}        
   
   <!-- Drain -->
   {{#if (eq data.rollType "spell")}}
   <hr/>
   <div class="chat-spell">
   	<table class="spell-table">
   	    <tr>
   	    	<th>{{localize 'shadowrun6.spell.range'}}</th>
            <th>{{localize 'shadowrun6.spell.type'}}</th>
            <th>{{localize 'shadowrun6.spell.duration_short'}}</th>
            <th>{{localize 'shadowrun6.spell.drain'}}</th>
            <th>{{localize 'shadowrun6.spell.damage_short'}}</th>
   	    </tr>
   	  	<tr>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.range_' data.spell.data.data.range) "_short")}}</td>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.type_' data.spell.data.data.type) "_short")}}</td>
   	  		<td>{{localize (concat (concat 'shadowrun6.spell.duration_' data.spell.data.data.duration) "_short")}}</td>
    	  		<td>{{data.drain}}</td>
    	  		<td>{{data.damage}}</td>
   	  		<td></td>
   	  	</tr>
   	</table>
		<div class="chat-spell-collapsible" style="display:none">
   		{{data.spellDesc}}
		</div>
   </div>
   {{/if}}        
   
   <!-- Defense -->
    {{log "Defense" data}}
   {{#if data.isAllowDefense}}
   <hr/>
    {{log "targets " data.targets}}
    {{log "targets " data.targets.len}}
   {{#iff data.targets.size ">" 0}}
     {{#each data.targets as |token id|}}
     <div>
      {{log "Token" id " = " token.data }} 
     	<button class="rollable" data-damage-type="{{../data.damageType}}" data-roll-type="defense" data-damage="{{../data.damage}}" data-defend-with="{{../data.defendWith}}" data-targetid="{{token.data._id}}" data-defend-hits="{{../total}}">{{localize 'shadowrun6.roll.defense_button'}} ({{../total}}): {{token.data.name}}</button>
     </div>
     {{/each}}
   {{else}} 
     <div>
  	   <button class="rollable" data-damage-type="{{data.damageType}}" data-roll-type="defense" data-damage="{{data.damage}}" data-defend-with="{{data.defendWith}}" data-targetid="{{data.targetId}}" data-defend-hits="{{total}}">{{localize 'shadowrun6.roll.defense_button'}} ({{total}})</button>
     </div>
   {{/iff}}
   {{/if}}        
   
   <!-- Soak Roll -->
   {{#if data.isAllowSoak}}
   {{log "roll-sr6.html: soak data=" data}}
   <b>Base damage:</b> {{data.baseDamage}}  <b>Net hits:</b> {{data.nettohits}}
   <hr/>
    {{log "soak damage = " data.soak}}
   {{#iff data.nettohits ">" -1}}
     <div>
     	<button class="rollable" data-damage-type="{{data.damageType}}" data-roll-type="soak" data-defend-with="{{data.defendWith}}" data-soak="{{data.soak}}" data-targetid="{{data.target.id}}">{{localize 'shadowrun6.roll.soak_physical'}} ({{data.soak}}): {{data.target.name}}</button>
     </div>
  {{else}}
     <span style="color: red;">{{localize 'shadowrun6.roll.attack_missed'}}</span>
   {{/iff}}
   {{/if}}        

   <!-- Extended Roll -->
   {{#if data.extended}} 
    <b>Extended Test: </b> {{data.extendedRoll}}
    <hr />
    {{#if (ge data.extendedAccumulate data.threshold)}}
      <span style="color: green;">{{localize 'shadowrun6.roll.extend_check_success'}}</span>
    {{else}}
      {{#iff data.pool ">" 0}}
      <div>
          <button class="rollable" data-roll-type="extended" data-extended-roll="{{data.extendedRoll}}" data-extended-pool="{{data.extendedPool}}" data-extended-accumulate="{{data.extendedAccumulate}}" data-threshold="{{data.threshold}}" data-action-text="{{data.actionText}}">{{localize 'shadowrun6.roll.extend'}} ({{data.extendedAccumulate}}/{{data.threshold}})</button>
      </div>
      {{else}}
        <span style="color: red;">{{localize 'shadowrun6.roll.extend_check_failed'}}</span>
      {{/iff}}
    {{/if}}
   {{/if}}
   
   <!-- Bring the Pain -->
   {{#if data.isBringPain}}
   Soaked {{data.soaked}} of {{data.threshold}} damage
   <hr/>
   {{#iff data.damageToApply ">" 0}}
     <div>
     	<button class="rollable" data-damage-type="{{data.damageType}}" data-roll-type="damage" data-defend-with="{{data.defendWith}}" data-damageToApply="{{data.damageToApply}}" data-targetid="{{data.target.id}}">{{localize 'shadowrun6.roll.damage_apply'}} ({{data.damageToApply}}): {{data.target.name}}</button>
     </div>
   {{/iff}}
   {{/if}}     
   
   <!-- Heal -->
   {{log "roll-sr6.html: heal data=" data}}
   {{#if data.isHeal}}
   <hr />
   {{#iff total ">" 0}}
    <div> 
        <button class="rollable" data-roll-type="heal" data-healToApply="{{total}}" data-targetid="{{data.speaker.token}}" data-healType="{{data.healType}}">{{localize 'shadowrun6.roll.heal_apply'}} ({{total}}): {{data.target.name}}</button>
    </div>
   {{/iff}}
   {{/if}}

</div>