<div class="checkbar-root" data-monitor-code="anarchy" >
  <div {{#if rowlength}}
    style="grid-column: span {{rowlength}} / span {{rowlength}}; grid-template-columns: repeat({{rowlength}}, minmax(0, 1fr));"
  {{/if}}>
  {{#if max}}
    {{#for 0 max}}
      {{> 'systems/anarchy/templates/common/check-element.hbs'
        code='sceneAnarchy'
        labelkey='ANARCHY.actor.counters.sceneAnarchy'
        rowlength=../rowlength
        current=this
        value=../value
        max=../max
      }}
    {{/for}}
  {{/if}}
  </div>
</div>
