<div class="checkbar-root" data-monitor-code="anarchy" >
  <div {{#if rowlength}}
    style="grid-column: span {{rowlength}} / span {{rowlength}}; grid-template-columns: repeat({{rowlength}}, minmax(0, 1fr));"
  {{/if}}>
  {{#for 0 max}}
    {{> 'systems/anarchy/templates/common/check-element.hbs'
      code=../code
      rowlength=../rowlength
      labelkey=../labelkey
      current=this
      value=../value
      max=../max
    }}
  {{/for}}
  </div>
</div>

