<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.counters.social.credibility}}
    <input class="info-value"
      type="number" data-dtype="Number" min="0" max="10"
      name="system.counters.social.credibility.max"
      data-counter-social="credibility"
      value="{{system.counters.social.credibility.max}}"
      {{#if @root.options.viewMode}}disabled{{/if}}
      />
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='credibility'
    labelkey=ANARCHY.actor.counters.social.credibility
    value=system.counters.social.credibility.value
    max=system.counters.social.credibility.max
    rowlength=5
  }}
</div>
