@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.sheet.journal-entry article img:not(.nopopout):not([src]), .sheet.journal-entry article img:not(.nopopout)[src=""] {
  visibility: hidden;
}

.sheet.journal-entry .journal-sidebar .action-buttons .add-page-buttons {
  display: flex;
  margin: 0.5rem 0;
  height: 28px;
}
.sheet.journal-entry .journal-sidebar .action-buttons .add-page-buttons button {
  margin: 0 0.125rem;
  padding: 0;
}
.sheet.journal-entry .journal-sidebar .action-buttons .add-page-buttons button i {
  margin-right: 0;
  font-size: 20px;
  line-height: 28px;
}

.sheet.journal-entry-page .journal-header .show-title {
  white-space: nowrap;
}

.sheet.journal-improvements .editor {
  max-height: none;
  height: 100% !important;
  min-height: 100px;
}
.sheet.journal-improvements .editor .editor-edit {
  position: absolute;
}
.sheet.journal-improvements .editor .tox {
  height: var(--ji-editor-height, 625px) !important;
}
.sheet.journal-improvements .editor.prosemirror {
  min-height: var(--ji-editor-height, 625px);
}
.sheet.journal-improvements .editor.prosemirror .editor-container {
  margin: 0.5rem 0;
}
.sheet.journal-improvements .editor.prosemirror .editor-container .editor-content {
  padding: 0;
}

.sheet.journal-improvements article header input {
  font-family: var(--font-primary);
  font-size: var(--font-size-28);
  height: var(--font-size-34);
  margin-bottom: 8px;
}

.sheet.journal-improvements article textarea.markdown-editor {
  min-height: calc(var(--ji-editor-height, 625px) - 8px);
  padding: 8px;
  font-family: "JetBrains Mono Regular", "Roboto Mono", "Courier New", monospace;
  font-size: var(--font-size-15);
}

.sheet.journal-improvements article .markdown-editor .editor-edit {
  position: absolute;
}

.sheet.journal-improvements .sidebar .journal-header {
  margin: 2px 0.4rem 0;
}
.sheet.journal-improvements .sidebar .journal-header .title {
  font-size: var(--font-size-16);
  height: 32px;
  color: var(--color-text-dark-1);
  background: rgba(255, 255, 245, 0.8);
  font-weight: 700;
}
.sheet.journal-improvements .sidebar.collapsed .journal-header {
  visibility: hidden;
}
.sheet.journal-improvements .journal-entry-pages .scrollable.ij-move-journal-title {
  padding-top: 16px;
}

.ij-dorako-fix.journal-entry .journal-sidebar .action-buttons .add-page-buttons {
  display: flex;
  margin: 0.5rem 0;
  height: 28px;
}
.ij-dorako-fix.journal-entry .journal-sidebar .action-buttons .add-page-buttons button {
  margin: 0 0.25rem;
  border: none;
  box-shadow: var(--gold-and-glow);
}

.ij-ernies-fix.journal-entry .journal-sidebar .action-buttons .add-page-buttons {
  margin: 0;
  height: 32px;
}
.ij-ernies-fix.journal-entry .journal-sidebar .action-buttons .add-page-buttons button {
  margin: 0 0.25rem !important;
}
.ij-ernies-fix a.editor-edit {
  top: 0 !important;
}