/* Couleur des highlights */
mark.important {
    background: #222c18;
    color: #a9c291;
}

mark.important .content-link {
    background: #556e3c;
    border-color: black;
    color: #c3d4b2;
}

mark {
    background: #c2c291;
}

mark .content-link {
    background: #ddddc2;
}

/* Blocs mis en avant */
section.emphasize {
    background: rgba(0, 53, 0, 0.05);
    padding: 10px;
    border-top: 1px solid var(--color-border-dark-5);
    border-bottom: 1px solid var(--color-border-dark-5);
}

/* Taille de police des zones de texte */
.sheet .editor-content {
    font-size: 15px;
}

/* Margin des images avec float */
.editor-content img[style*="left"] {
    margin-right: 8px;
    margin-bottom: 8px;
}

.editor-content img[style*="right"] {
    margin-left: 8px;
    margin-bottom: 8px;
}

/* Label IntroduceMe  */
.introduce-me.introduction .introduction-container label#name {
    padding-top: 45px;
}

.introduce-me.introduction .introduction-container img.clip {
    display: none;
}
