<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.common.description'}}</h2>
  <div class="editor actor-editor">
    {{editor 
      system.description 
      target="system.description"
      owner=options.owner
      button=true
      editable=options.editable}}
  </div>
</div>
