<div class="define-item-type" data-item-type="gear">
  <h2 class="section-group-header">
    {{localize 'ANARCHY.itemType.plural.gear'}}
    {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='gear'}}
  </h2>
  <div class="items-group-list">
    {{#each items.gear as |gear|}}
    {{> "systems/anarchy/templates/actor/parts/gear.hbs" gear}}
    {{/each}}
  </div>
</div>
