<div class="attribute-box anarchy-attribute" data-attribute="{{key}}">
  <a class="click-roll-attribute">
    <label for="system.attributes.{{key}}.value">{{localizeAttribute key}}</label>
    <div class="attribute-value">
      {{attribute.value}}
    </div>
  </a>
</div>
