<div class="define-item-type" data-item-type="owned-actor">
  <h2 class="section-group-header">
    {{localize 'ANARCHY.actor.ownership.owned'}}
  </h2>
  <div class="items-group-list">
    {{#each ownedActors as |ownedActor|}}
    {{> "systems/anarchy/templates/actor/parts/owned-actor.hbs" ownedActor}}
    {{/each}}
  </div>
</div>