<div class="item define-owned-actor" data-actor-id="{{id}}">
  <a class="click-owned-actor-view">
    {{> 'systems/anarchy/templates/common/actor-reference.hbs' this}}
  </a>
  <a class="item-control click-owned-actor-unlink" title="{{localize ANARCHY.common.del}}">
    {{{iconFA 'fas fa-trash'}}}
  </a>
</div>
