.darkness-point-display {
  color: whitesmoke;
  cursor: pointer;
  font-size: 70px;
  text-align: center;
  background-image: url(../../../systems/yzecoriolis/css/images/char-sheet-bg.jpg);
  background-size: cover;
  margin: -8px;
}
