<div class="attributes">
    {{#each (sortedAttributes system.attributes) as |attribute key|}}
    {{> "systems/anarchy/templates/actor/character-enhanced/attribute.hbs" attribute=attribute key=key}}
    {{/each}}
</div>