<a class="wrapper-hexabox item click-roll-attribute-action"
  data-action-code="{{code}}">
  {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
  <div class="content">
    <div class="wrapper-hexabox attribute-button-icon">
      {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
      <div class="content">
        {{{icon}}}
      </div>
    </div>
    <label>{{localize labelkey}}</label>
  </div>
</a>