<div class="awarness">
  <div class="wrapper-hexabox">
    <div class="side up"></div>
    <div class="side right"></div>
    <div class="side down"></div>
    <div class="side left"></div>
    <div class="angle tl"></div>
    <div class="angle tr"></div>
    <div class="angle br"></div>
    <div class="angle bl"></div>
    <div class="content">
      <select name="system.capacity" {{#if @root.options.viewMode}}disabled{{/if}}>
        {{#select system.capacity}}
        {{> 'systems/anarchy/templates/common/enum-value-label.hbs'
        entries=ENUMS.capacities noEmpty=true}}
        {{/select }}
      </select>
    </div>
  </div>
  <div class="view-mode">
    <div class="icon">
      {{> "systems/anarchy/templates/common/view-mode.hbs"}}
    </div>
    <div class="label">
      {{#if @root.options.viewMode}}
        {{localize 'ANARCHY.common.viewMode'}}
      {{else}}
        {{localize 'ANARCHY.common.editMode'}}
      {{/if}}
    </div>
  </div>
  {{#if (eq system.capacity 'emerged')}}
  <div class="connection-mode">
    {{> 'systems/anarchy/templates/common/control-connectionMode.hbs'
    connectionMode=system.connectionMode}}
    <div>{{localize (concat 'ANARCHY.connectionMode.'
      system.connectionMode)}}</div>
  </div>
  {{/if}}
</div>