<a class="click-checkbar-element" 
    {{#if code}}data-monitor-code="{{code}}"{{/if}}
    data-index="{{current}}"
    data-checked="{{lt current value}}">
  {{{iconCheckbar code (lt current value)}}}
</a>