<div class="description">
  <h2 class="title">{{localize 'ANARCHY.common.description'}}</h2>
  <div class="wrapper-hexabox">
    {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
    <div class="editor actor-editor content">
      {{editor
      system.description
      target="system.description"
      owner=options.owner
      button=true
      editable=options.editable}}
    </div>
  </div>
</div>
