<div class="side up"></div>
<div class="side right"></div>
<div class="side down"></div>
<div class="side left"></div>
<div class="angle tl"></div>
<div class="angle tr"></div>
<div class="angle br"></div>
<div class="angle bl"></div>