  <label class="title">
    {{localize ANARCHY.actor.counters.social.rumor}}
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='rumor'
    labelkey=ANARCHY.actor.counters.social.rumor
    value=system.counters.social.rumor.value
    max=system.counters.social.rumor.max
    rowlength=5
  }}
